@mixin monospace
  font-family: Menlo, Monaco, Consolas, 'Courier New', monospace

// KnowledgeBase.jsx
ul.rule-list
  padding: 0

.query
  padding: 2px 4px
  border-radius: 4px

  div
    margin: 0 0 2px 0
    // border: solid 2px black

// Rule.jsx
li.rule
  border: solid 1px black
  border-radius: 4px
  margin: 2px 0
  padding: 5px
  list-style-type: none

// NotFound.jsx
#not-found-block
  display: block
  height: 500px
  h1, p
    display: block
    position: relative
    top: 50%
